{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Datavark{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v=5" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=5" />
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    {% block stylesheets %}{% endblock %}
    {% block head-scripts %}{% endblock %}
</head>

<body>
    <div id="sidebar">
        <div id="leftHeader">
            <a href="/">
                <div id="siteIcon">
                    <div id="iconContainer"><img src="{% static 'img/datavark_logo.png' %}"
                            alt="DatavArk - Automated Data Acquisition System" /></div>
                </div>
            </a>
            <div id="siteTitle">
                <h1>DatavArk</h1>
            </div>
        </div>
        {% block sidebar %}
        <nav>
            <h1 id="navTitle">Navigation</h1>
            <ul>
                <li><a class="btn btn-info" href="{% url 'ie:index' %}" role="button">Acquisition Scheduler</a>
                </li>
                <li><a class="btn btn-info" href="{% url 'dataview:reports-view' %}" role="button">View Data</a></li>
                <li><a class="btn btn-info" href="{% url 'dataview:data-export-view' %}" role="button">Export Data</a>
                </li>
            </ul>
            <div id="backLink">
                <a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}" role="button">Back</a>
            </div>
        </nav>
        {% endblock %}
    </div>
    <div id="content">
        <div id="pageTitle">{% block page_title %}{%endblock%}</div>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}Developed by Dan Bright, 12004727@uhi.ac.uk{% endblock %}
    </div>
</body>

{% block javascript %}{% endblock javascript %}

</html>