[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2-binary = "*"
postgres = "*"
django-q = "*"
django = "*"
gevent = "*"
geos = "*"
proj = "*"
numpy = "*"
pandas = "*"
django-redis = "*"
spacy = ">=3.4.0, <3.5.0"
spacy-transformers = "*"
csv-diff = "*"
click = "*"
elasticsearch = "==5.4.0"
lxml = "*"
scrapy = "==2.6.3"
toolz = "<1.0"
loguru = "*"
dvc = {extras = ["gs"], version = "*"}
tailer = "*"
geoip2 = "*"
geopy = "*"
praw = "*"
pmaw = "*"
configparser = "*"
django-tables2 = "*"
dateparser = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3"
