{% extends "base.html" %}
{% load static %}
{% block title %}DatavArk - Data Record Detail{%endblock%}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/dataview_style.css'%}?v=5" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}?v=5" />
<link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
    integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
{% endblock %}
{% block head-scripts %}
<script src="{% static 'leaflet/leaflet.js' %}?v=5"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
    integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
    integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock %}
{% block page_title %}
<h1>UAP Report {{report.id}}</h1>
{% endblock %}
{% block content %}
<div id="report">
    {% autoescape off %}
    <div><label>Report ID</label>
        <ul>
            <li>{{report.id}}</li>
        </ul>
    </div>
    <div><label>Source name</label>
        <ul>
            <li>{{report.source_name}}</li>
        </ul>
        <label>Source URL</label>
        <ul>
            <li><a href="{{report.source_url}}" target="_blank">{{report.source_url}}</a>
            </li>
        </ul>
    </div>
    <form id="display-form" action="." method="post">
        {% csrf_token %}
        <label>Report text</label>
        <ul>
            <li>
                <textarea class="form-control form-control-lg" id="report_txt"
                    name="report_txt">{{report.obs_txt}}</textarea>
            </li>
        </ul>
        <div>
            <label>Associated observation date</label>
            <p>In the standard form Year-Month-Day.</p>
            <ul>
                {% for date in report.obs_dates.all %}
                <li id="date-{{forloop.counter}}" data-date="{{ date.date|date:'Y-m-d' }}">
                    <div class="input-group date" id="datetimepicker-date-{{forloop.counter}}"
                        data-target-input="nearest">
                        <input type="text" class="form-control-md datetimepicker-input dateData"
                            data-target="#datetimepicker-date-{{forloop.counter}}"
                            data-listpos="date-{{ forloop.counter }}" name="date" onkeydown="event.preventDefault()"/>
                        <button class="btn btn-danger delDate" data-listpos="date-{{ forloop.counter }}"><i
                                class="fa fa-trash"></i></button>
                    </div>
                </li>
                {% empty %}
                <li>No dates recorded for this record</li>
                {% endfor %}
                <li id="date-0" data-time="{% now 'Y-m-d' %}">
                    <div class="icon">
                        <div class="input-group d-none" id="datetimepicker-date-0" data-target-input="nearest">
                            <label>New observation date</label>
                            <input id="newDate" type="text" class="form-control-md datetimepicker-input"
                                data-target="#datetimepicker-date-0" onkeydown="event.preventDefault()"/>
                        </div>
                        <button id="addDate" class="form-control-md btn btn-primary"><i
                                class="fa fa-plus-circle"></i></button>
                    </div>
                </li>
            </ul>
        </div>
        <ul>
            <label>Associated observation time</label>
            <p>Time local to the observation location.</p>
            {% for time in report.obs_times.all %}
            <li id="time-{{forloop.counter}}" data-time="{{ time.time|time:'H:i:s' }}">
                <div class="input-group time" id="datetimepicker-time-{{forloop.counter}}" data-target-input="nearest">
                    <input type="text" class="form-control-md datetimepicker-input timeData"
                        data-target="#datetimepicker-time-{{forloop.counter}}" data-listpos="time-{{ forloop.counter }}"
                        name="time" onkeydown="event.preventDefault()"/>
                    <button class="btn btn-danger delTime" data-listpos="time-{{ forloop.counter }}"><i
                            class="fa fa-trash"></i></button>
                </div>
            </li>
            {% empty %}
            <li>No times recorded for this record</li>
            {% endfor %}
            <li id="time-0" data-time="00:00:00">
                <div class="input-group d-none" id="datetimepicker-time-0" data-target-input="nearest">
                    <label>New observation time</label>
                    <input id="newTime" type="text" class="form-control-md datetimepicker-input"
                        data-target="#datetimepicker-time-0" onkeydown="event.preventDefault()"/>
                </div>
                <div class="icon"><button id="addTime" class="form-control-md btn btn-primary"><i
                            class="fa fa-plus-circle"></i></button></div>
            </li>
        </ul>
        <div>
            <label>Associated observation type</label>
            <ul>
                {% for type in report.obs_types.all %}
                <li id="type-{{forloop.counter}}">
                    <div class="input-group type" data-target-input="nearest">
                        <input type="text" class="form-control-md typeData" name="type" value="{{type.type}}"
                            data-listpos="type-{{ forloop.counter }}" />
                        <button class="btn btn-danger delType" data-listpos="type-{{ forloop.counter }}"><i
                                class="fa fa-trash"></i></button>
                    </div>
                </li>
                {% empty %}
                <li>No observation types recorded for this record</li>
                {% endfor %}
                <li id="type-0">
                    <div class="input-group d-none newType" data-target-input="nearest">
                        <label>New observation type</label>
                        <input id="newTypeData" type="text" class="form-control-md"
                            placeholder="Separate multiple types with commas, e.g., Triangle, Orb" />
                    </div>
                    <div class="icon"><button id="addType" class="form-control-md btn btn-primary"><i
                                class="fa fa-plus-circle"></i></button></div>
                </li>
            </ul>
        </div>
        <div>
            <label>Associated observation colour</label>
            <ul>
                {% for color in report.obs_colors.all %}
                <li id="color-{{forloop.counter}}">
                    <div class="input-group color" data-target-input="nearest">
                        <input type="text" class="form-control-md colorData" name="color" value="{{color.color}}"
                            data-listpos="color-{{ forloop.counter }}" />
                        <button class="btn btn-danger delColor" data-listpos="color-{{ forloop.counter }}"><i
                                class="fa fa-trash"></i></button>
                    </div>
                </li>
                {% empty %}
                <li>No observation colours recorded for this record</li>
                {% endfor %}
                <li id="color-0">
                    <div class="input-group d-none newColor" data-target-input="nearest">
                        <label>New observation color</label>
                        <input id="newColorData" type="text" class="form-control-md"
                            placeholder="Separate multiple colours with commas, e.g., red, blue" />
                    </div>
                    <div class="icon"><button id="addColor" class="form-control-md btn btn-primary"><i
                                class="fa fa-plus-circle"></i></button></div>
                </li>
            </ul>
        </div>
        <div>
            <label>Associated observation location</label>
            <ul>
                {% for loc in report.obs_locs.all %}
                <li id="loc-{{ forloop.counter }}">
                    <input type="text" class="form-control-md location" name="location"
                        data-listpos="loc-{{ forloop.counter }}"
                        value="{{loc.place_name}} ({{loc.coordinates.x}}, {{loc.coordinates.y}})" />
                    <button class="btn btn-danger delLoc" data-listpos="loc-{{ forloop.counter }}"><i
                            class="fa fa-trash"></i></button>
                    {% if loc.coordinates.x and loc.coordinates.y %}
                    <div class="maps" id="map-loc-{{ forloop.counter }}" data-long="{{loc.coordinates.x}}"
                        data-lat="{{loc.coordinates.y}}"></div>
                    {% else %}
                    <div>Valid coordinates were unable to be reconciled to this location.</div>
                    {% endif %}
                </li>
                {% empty %}
                <li>
                    No locations were extracted.
                </li>
                {% endfor %}
                <li>
                    <div id="newLoc" class="d-none">
                        <label>New associated observation location</label>
                        <p>Locations must be submitted in the form: City, State (optional, and may include common
                            abbreviations), Country.<br />
                            Multiple locations may be submitted, separated with a forward slash (e.g. / ).<br />
                            "State" refers to administrative region, such as state (US), county (UK), e.t.c.<br />
                            New locations will be automatically geotagged by the system, so entry of coordinates is
                            unnecessary.
                        </p>
                        <input style="width:55%!important" id="newLocData" type="text" class="form-control-md place"
                            placeholder="Los Angles, CA, USA / London, UK / Aberdeen, Scotland" />
                    </div>
                    <div class="icon"><button id="addLoc" class="form-control-md btn btn-primary"><i
                                class="fa fa-plus-circle"></i></button></div>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <button id="submit" type="submit" class="btn btn-success">Submit data edits</button>
                </li>
                <li>
                    <button id="deleteRecord" class="btn btn-danger"><i class="fa fa-trash"></i> Remove
                        record</button>
                </li>
            </ul>
        </div>
    </form>
    {% endautoescape %}
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(() => {
        // set toggle booleans
        let newDate = false
        let newTime = false
        let newLoc = false
        let newType = false
        let newColor = false
        // configure buttons
        $("#addTime").click(e => {  // add new time
            e.preventDefault();
            newTime = !newTime
            $("#datetimepicker-time-0").toggleClass("d-none");
            $("button#addTime i").toggleClass("fa-plus-circle");
            $("button#addTime i").toggleClass("fa-minus-circle");
            if (newTime) {
                $("input#newTime").attr("name", "newTime");
            } else {
                $("input#newTime").removeAttr("name");
            }
        });
        $("#addDate").click(e => {  // add new date
            e.preventDefault();
            newDate = !newDate
            $("#datetimepicker-date-0").toggleClass("d-none");
            $("button#addDate i").toggleClass("fa-plus-circle");
            $("button#addDate i").toggleClass("fa-minus-circle");
            if (newDate) {
                $("input#newDate").attr("name", "newDate");
            } else {
                $("input#newDate").removeAttr("name");
            }
        });
        $("#addLoc").click(e => {  // add new location
            e.preventDefault();
            newLoc = !newLoc
            $("#newLoc").toggleClass("d-none");
            $("button#addLoc i").toggleClass("fa-plus-circle");
            $("button#addLoc i").toggleClass("fa-minus-circle");
            if (newLoc) {
                $("input#newLocData").attr("name", "newLocations");
            } else {
                $("input#newLocData").removeAttr("name");
            }
        });
        $("#addType").click(e => {  // add new type
            e.preventDefault();
            newType = !newType
            $(".newType").toggleClass("d-none");
            $("button#addType i").toggleClass("fa-plus-circle");
            $("button#addType i").toggleClass("fa-minus-circle");
            if (newType) {
                $("input#newTypeData").attr("name", "newTypes");
            } else {
                $("input#newTypeData").removeAttr("name");
            }
        });
        $("#addColor").click(e => {  // add new type
            e.preventDefault();
            newColor = !newColor
            $(".newColor").toggleClass("d-none");
            $("button#addColor i").toggleClass("fa-plus-circle");
            $("button#addColor i").toggleClass("fa-minus-circle");
            if (newColor) {
                $("input#newColorData").attr("name", "newColors");
            } else {
                $("input#newColorData").removeAttr("name");
            }
        });
        $("button.delDate").click(e => {  // delete location (inc. place name & coordinates)
            e.preventDefault();
            let listPos = $(e.target).attr("data-listpos")
            $(`input.dateData[data-listpos="${listPos}"]`).removeAttr("name");
            $(`li#${listPos}`).toggleClass("d-none");
        });
        $("button.delTime").click(e => {  // delete location (inc. place name & coordinates)
            e.preventDefault();
            let listPos = $(e.target).attr("data-listpos")
            $(`input.timeData[data-listpos="${listPos}"]`).removeAttr("name");
            $(`li#${listPos}`).toggleClass("d-none");
        });
        $("button.delLoc").click(e => {  // delete location (inc. place name & coordinates)
            e.preventDefault();
            let listPos = $(e.target).attr("data-listpos")
            $(`.location[data-listpos="${listPos}"]`).removeAttr("name");
            $(`li#${listPos}`).toggleClass("d-none");
        });
        $("button.delType").click(e => {  // delete location (inc. place name & coordinates)
            e.preventDefault();
            let listPos = $(e.target).attr("data-listpos")
            $(`input.typeData[data-listpos="${listPos}"]`).removeAttr("name");
            $(`li#${listPos}`).toggleClass("d-none");
        });
        $("button.delColor").click(e => {  // delete location (inc. place name & coordinates)
            e.preventDefault();
            let listPos = $(e.target).attr("data-listpos")
            $(`input.colorData[data-listpos="${listPos}"]`).removeAttr("name");
            $(`li#${listPos}`).toggleClass("d-none");
        });
        // config date pickers
        for (let i = 0; i <= "{{report.obs_dates.all.count}}"; i++) {
            let dateEle = document.getElementById("date-" + i)
            let date = dateEle.dataset.date
            $("#datetimepicker-date-" + i).datetimepicker(
                {
                    defaultDate: date ? date : new Date(),
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    maxDate: moment().millisecond(999).second(59).minute(59).hour(23),
                    allowInputToggle: true,
                }
            )
        }
        // config time pickers
        for (let i = 0; i <= "{{report.obs_times.all.count}}"; i++) {
            let time_ele = document.getElementById("time-" + i)
            let time = time_ele.dataset.time
            datetime = new Date("0001-01-01T" + time)
            $("#datetimepicker-time-" + i).datetimepicker(
                {
                    defaultDate: datetime,
                    format: 'HH:mm',
                    useCurrent: false,
                    allowInputToggle: true,
                }
            );
        }
        // config maps
        for (let i = 1; i <= "{{report.obs_locs.all.count}}"; i++) {
            long = $(`#map-loc-${i}`).data('long')
            lat = $(`#map-loc-${i}`).data('lat')
            if (lat && long) {
                var map = L.map(`map-loc-${i}`).setView([lat, long], 5);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                var marker = L.marker([lat, long]).addTo(map);
            }
        }
        // submit form data with AJAX
        $('#display-form').submit((e) => {
            e.preventDefault();
            let formData = $('#display-form').serializeArray();  // serialise form data
            console.log('Posting: ', formData);
            $.ajax({
                url: "/data/{{report.id}}",
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: (response) => {
                    console.log(response.success)
                    window.location.href = "/data/{{report.id}}"
                },
                error: (response) => {
                    console.log(response.success);
                }
            });
        });
        // send request to delete records with AJAX
        $("button#deleteRecord").click(e => {
            e.preventDefault();
            $.ajax({
                url: "/data/{{report.id}}",
                data: { "delete_record": "true", "csrfmiddlewaretoken": "{{csrf_token}}" },
                type: 'POST',
                dataType: 'json',
                success: (response) => {
                    console.log(response.success)
                    window.location.href = "/data/"
                },
                error: (response) => {
                    console.log(response.success);
                }
            });
        })
    });
</script>
{% endblock %}