body {
    padding: 0 1em 1em 1em !important;
    background-color: #222222;
    color: #b9b8b8;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 0.5em 0 0.5em 0;
}

nav ul {
    border-bottom: 1px dashed silver;
    padding-bottom: 0.5em;
}

div#content h1,
h2,
h3,
h4,
h5,
h6 {
    color: silver;
    text-transform: capitalize !important;
    text-underline-offset: 0.3em;
    text-decoration-line: underline ;
    text-decoration-style: dotted;
    text-decoration-color: rgb(81, 235, 255);
    text-decoration-thickness: 0.11em;
    text-decoration-skip-ink: none;
    margin: 0.3em 0 0.7em 0;
}

.btn {
    width: 100%;
}

div#pageTitle {
    text-align: center;
    color: rgb(81, 235, 255);
    text-transform: capitalize !important;
}

div#sidebar {
    position: fixed;
    display: block;
    float: left !important;
    width: 15% !important;
    margin: 0.5em 1em 0 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #333333;
    color: #b9b8b8;
    border-radius: 11px;
    text-transform: capitalize !important;
    z-index: 11;
    border: 1px solid silver;
}

div#sidebar h1#navTitle {
    clear:both;
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

div#content {
    display: block;
    float: right !important;
    width: 83% !important;
    border: 1px solid silver;
    border-radius: 11px;
    padding: 1vw;
    margin: 0.5em 0 0 0.5em;
}

div#content a {
    color: rgb(81, 235, 255);
    border-radius: 11px;
}

div#footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

ul.pagination {
    margin: 1em;
}

ul.pagination li a {
    color: #333333 !important;
}

div#backLink {
    margin: 1em;
    text-align: right;
}

table {
    color: #b9b8b8 !important;
}

.form-group {
    margin: 1em 0 1em 0;
}

label {
    background-color: rgb(81, 235, 255);
    color: #333333;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

div.table-container {
    display: inline-block !important;
    position: relative !important;
    overflow: auto !important;
}

div#leftHeader a:link {
    text-decoration: none!important;
}

div#siteIcon {
    text-align: center;
}

div#iconContainer {
    display: inline-block;
    border: 1px solid silver;
    padding: 0.3vw;
    border-radius: 7px;
}

div#siteIcon img {
    max-width: 150px;
    width: 11vw;
    border-radius: 7px;
}

div#siteTitle {
    position: relative;
    color: silver !important;
    text-underline-offset: 0.3em;
    text-decoration-line: underline ;
    text-decoration-style: wavy;
    text-decoration-color: rgb(81, 235, 255);
    text-decoration-thickness: 0.3em;
    text-decoration-skip-ink: all;
    margin: 0 0 1em 0;
}

div#siteTitle h1 {
    font-size:3vw;
    text-align: center;
}


